# top-most EditorConfig file
root = true

[*]
charset = utf-8
insert_final_newline = true
indent_style = space
indent_size = 4

[**/*.yml]
insert_final_newline = unset
indent_style = unset
indent_size = unset
