.completr-suggestion-item {
    padding: 5px 10px 5px 10px;
}

.completr-suggestion-placeholder {
    border-width: 1px 0 1px 0;
    border-style: solid;
}

.completr-settings-no-border {
    border: none;
}

.completr-settings-list-item {
    border-top: 1px solid grey;
    padding: 4px 0 0 0;
}
